/*.filter-container {*/
/*    display: flex;*/
/*    gap: 1rem;*/
/*}*/
.toolbar .filter-menu {
    box-shadow: 0 0 0.8rem rgba(127, 127, 127, 0.1);
}
.toolbar .search, .toolbar button {
    height: 2.6rem;
    /*border-radius: 1.3rem;*/
    background: #FFFFFF;


    overflow: hidden;
    transition: width ease .15s;
}
.toolbar .search:hover,
.toolbar button:hover {background: #fafafe;}
.toolbar .search:active,
.toolbar button:active {background: #f6f6fa;}

.toolbar input,
.toolbar input:hover,
.toolbar input:active,
.toolbar input:focus {background: none;}

.toolbar button.filter-button {
    border-radius: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar .filter-menu {
    border-radius: 1.3rem;
    overflow: hidden;
    display: flex;
}


.filter-menu svg {
    height: 1.5rem;
    width: 2.5rem;
    /*vertical-align: middle;*/
}

.toolbar .search {
    width: 2.6rem;
    border-radius: 1.3rem;
    padding-inline: 0.7rem;
    gap: 0.5rem;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 18rem;
    transition: max-width ease .15s;
    display: flex;
    align-items: center;
}
.toolbar .search.active {
    max-width: 22rem;
    /*max-width: 90%;*/
}
.toolbar .search input {
    width: 0;
    flex-grow: 1;
    height: 2.6rem;
}

.toolbar .search svg {
    height: 1.6rem;
    width: 1.6rem;
}





/*.toolbar .status svg:nth-child(even) {*/
/*    fill: #000000;*/
/*    height: 1rem;*/
/*}*/