/*.filter-container {*/
/*    display: flex;*/
/*    gap: 1rem;*/
/*}*/
.toolbar .filter-menu {
    box-shadow: 0 0 0.8rem rgba(127, 127, 127, 0.1);
}
.toolbar input, .toolbar button {
    height: 2.6rem;
    /*border-radius: 1.3rem;*/
    background: #FFFFFF;


    overflow: hidden;
    transition: width ease .15s;
}
.toolbar input:hover,
.toolbar button:hover {background: #fafafe;}
.toolbar input:active,
.toolbar button:active {background: #f3f3f4;}
.toolbar input:focus {background: #FFFFFF;}

.toolbar button.filter-button {
    border-radius: 0;
    box-shadow: none;
    /*display: flex;*/
    /*align-items: center;*/
}

.toolbar .filter-menu {
    border-radius: 1.3rem;
    overflow: hidden;
    display: flex;
}

.toolbar input {
    width: 2.6rem;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 18rem;
    transition: max-width ease .15s;
}
.toolbar input.active {
    max-width: 22rem;
    /*max-width: 90%;*/
}

.filter-menu svg {
    height: 1.5rem;
    width: 2.5rem;
    vertical-align: middle;
}