.header {
    position: sticky;
    top: 0;
    height: 90px;
    background-color: white;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.room-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    gap: 26px;
    margin-inline: 5%;
}