.header {
    position: sticky;
    top: 0;
    height: 90px;
    background-color: white;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.room-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    /*margin-inline: 5%;*/

    border: 2px red solid;
}