.member-list {
    height: 285px;
    background: #F6F6F6;

    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/


    margin-inline: 15px;
    border-radius: 15px;
    padding-inline: 15px;

}

.member {
    /*flex-basis: 100%;*/
    /*height: 57px;*/
    line-height: 56px;
    font-size: 15px;

    border-bottom: 1px #dedede solid;
    /*border: rebeccapurple 1px solid;*/
}

.member:last-child {
    border-bottom: 0;
}

.member span {
    display: inline-block;
    vertical-align: center;
    line-height: normal;

}