.menu.sidebar {


    background: #dbdce2;

    transition: left .2s cubic-bezier(0.2, 0.5, 0.2, 1);
}

.open .menu.sidebar {
    left: 0;
}

.closed .menu.sidebar {
    left: -35rem
}


.menu.sidebar .header-container {
    display: flex;
    flex-direction: row;
    height: 4.8rem;
    padding: 0.5rem;
}
.menu.sidebar .header-container > svg {

}