.settings.sidebar {


    background: #49C5B6;

    transition: right .2s cubic-bezier(0.2, 0.5, 0.2, 1);
}

.open .settings.sidebar {
    right: 0;
}

.closed .settings.sidebar {
    right: -35rem
}

.settings.sidebar .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4.8rem;
    align-items: center;
    padding-inline: 1rem;
    padding-top: 0.5rem;
}



.settings.sidebar .header-container > div {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    gap: 0.9rem;
}
.settings.sidebar .header-container > div > svg {
    height: 2.5rem;
    width: 2.5rem;
}
.settings.sidebar .header-container > div > span {
    font-size: 1.7rem;
    line-height: 2.5rem;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 0.3rem;
}

.settings.sidebar .header-container > button {
    height: 3rem;
    width: 3rem;
    border-radius: 0.8rem;
    background: #49C5B6;
    /*background: white;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.settings.sidebar .header-container > button:hover {background: #46bdaf;}
.settings.sidebar .header-container > button:active {background: #3eab9e;}
.settings.sidebar .header-container > button > svg {
    width: 2rem;
    height: 2rem;
}