$public-color: #233D99;
$private-color: #191919;
$public-color-full: #97A0BE;
$private-color-full: #A7A7A7;

.RoomTile {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0 0 0.8rem rgba(127, 127, 127, 0.1);
  border: 1px solid #dedede;

  padding: 0.5rem;
  box-sizing: border-box;

  & > div {
    margin-bottom: 0.85rem;
  }

  .room-header {
    display: flex;
    height: 2.8rem;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
    padding-inline: 0.9rem;
    gap: 0.5rem;
    margin-bottom: 0.6rem;
  }

  .room-name {
    width: 17.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .room-desc-wrap {
    height: 2.4rem;
    margin-inline: 0.85rem;
    padding-inline: 0.45rem;
    line-height: 1.15rem;
    font-size: 0.76rem;
    display: inline;

    .room-desc {
      word-break: break-all;
      white-space: pre-wrap;

      > p {
        margin: 0;
        color: #2a44a3;
      }
    }
  }

  .MemberList {
    height: 15.4rem;
    //background: #F6F6F6;
    margin-inline: 0.85rem;
    border-radius: 1rem;
    position: relative;

    .line {
      position: absolute;
      width: 100%;
      height: 15.4rem;
      display: flex;
      flex-direction: column;
      padding-inline: 1rem;
      box-sizing: border-box;

      div {
        flex-grow: 1;
        //border-bottom: 0.1rem #dedede solid;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  .MemberContainer {
    position: absolute;
    padding-inline: 1.3rem;

    .Member {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      height: 3.08rem;
      align-items: center;
      gap: 0.65rem;

      .icon {
        height: 1.9rem;
        width: 1.9rem;
        overflow: hidden;
      }

      .nickname {
        font-size: 0.85rem;
        width: 13rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      svg.star {
        height: 1.1rem;
        width: 1.1rem;
        fill: #d2d2d2;
        cursor: pointer;

        &:hover {
          fill: #C3C3C3;
        }

        &.starred {
          fill: #FFC107;
        }
      }
    }

    .wrap {
      &-enter {
        height: 0;

        &-active {
          height: 3.08rem;
          transition: height .2s ease;
        }
      }

      &-exit {
        height: 3.08rem;

        &-active {
          height: 0;
          transition: height .2s ease;
        }
      }
    }
  }

  .Buttons {
    display: flex;
    justify-content: space-between;
    padding-inline: 0.85rem;
    font-size: 0.9rem;
    font-weight: 400;

    > div {
      display: flex;
      width: 12.5rem;
      overflow: hidden;
      border-radius: 1.15rem;

      > button {
        background: none;
        flex-grow: 1;
        border-radius: 0;
      }
    }

    .shareBtn {
      width: 5rem;
    }

    .shareBtn, .notiBtn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
    }

    .joinBtn, .notiBtn {
      //color:
    }
  }


  //&.public {
  //  .room-header {
  //    background: $public-color
  //  }
  //
  //  &.full .room-header {
  //    background: $public-color-full;
  //  }
  //
  //  .joinBtn {
  //    background: $public-color;
  //
  //    &:hover {
  //      background: #4A62AF;
  //    }
  //
  //    &:active {
  //      background: #3A4F92;
  //    }
  //  }
  //
  //  .notiBtn {
  //    background: $public-color-full;
  //
  //    &:hover {
  //      background: #8A93B1;
  //    }
  //
  //    &:active {
  //      background: #747C9C;
  //    }
  //
  //    &.subscibed {
  //      background: $public-color;
  //
  //      &:hover {
  //        background: #4A62AF;
  //      }
  //
  //      &:active {
  //        background: #3A4F92;
  //      }
  //    }
  //  }
  //}
  //
  //&.private {
  //  .room-header {
  //    background: $private-color
  //  }
  //
  //  &.full .room-header {
  //    background: $private-color-full;
  //  }
  //
  //  .joinBtn {
  //    background: #191919;
  //
  //    &:hover {
  //      background: #454545;
  //    }
  //
  //    &:active {
  //      background: #363636;
  //    }
  //  }
  //
  //  .notiBtn {
  //    background: $private-color-full;
  //
  //    &:hover {
  //      background: #979797;
  //    }
  //
  //    &:active {
  //      background: #7F7F7F;
  //    }
  //
  //    &.subscibed {
  //      background: $private-color;
  //
  //      &:hover {
  //        background: #454545;
  //      }
  //
  //      &:active {
  //        background: #363636;
  //      }
  //    }
  //  }
  //}
}
