.toolbar {
    position: sticky;
    top: 0;
    padding-block: 1rem;
    /*padding-inline: 250px;*/
    margin-block: 0.7rem;

    margin-inline: 6.1rem;


    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.tool {
    height: 2.6rem;


    border-radius: 1.3rem;
    background: #FFFFFF;

    box-shadow: 0 0 0.8rem rgba(127, 127, 127, 0.1);
}

.search {
    flex-grow: 1;
}
.country-filter {
    width: 5rem;
}
.public-filter {
    width: 4rem;
}
.session-filter {
    width: 7rem;
}

.refresh {
    width: 2.6rem;
}