.buttons {
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;

    height: 42px;
    border-radius: 21px;

    font-size: 15px;

}

.share {
    height: inherit;
    width: 80px;
    border-radius: inherit;
    font-size: inherit;

    border: 0;
    background: #F0F0F0;
}
.share:hover {
    background: #e0e0e0;
}
.share:active {
    background: #d0d0d0
}

.join-buttons {
    display: flex;
    width: 220px;
    height: inherit;
    border-radius: inherit;
    overflow: hidden;
    font-size: inherit;
}

.temp {
    height: inherit;
    flex-grow: 1;
    font-size: inherit;

    border: 0;
    background: #F0F0F0;
}
.temp:hover {
    background: #e0e0e0;
}
.temp:active {
    background: #d0d0d0
}

.join {
    height: inherit;
    flex-grow: 1;

    font-size: inherit;
    color: white;

    border: 0;
}
.join:hover {
    opacity: 0.7;
}
.join:active {
    opacity: 0.5;
}