.header {
    position: sticky;
    top: 0;
    height: 5.8rem;
    /*line-height: 90px;*/
    background: white;
    font-size: 1.2rem;
    /*text-align: center;*/

    box-shadow: 0 0 0.8rem rgba(127, 127, 127, 0.15);

    display: flex;
    justify-content: space-between;
    align-items: center;

    /*z-index: 2;*/
}

.menu {
    background: #e3e5e8;
    width: 13.5rem;
    height: 100%;
    border: 0;
    padding: 0;
    font: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.menu:hover {
    background: #dde0e3;
}


.settings {
    color: #FFFFFF;
    background: #49C5B6;
    width: 13.5rem;
    height: 100%;
    border: 0;
    padding: 0;
    font: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.settings:hover {
    background: #46bdaf;
}

