.room-tile {
    width: 388px;
    height: 470px;
    /*margin: 13px;*/
    border-radius: 15px;
    overflow: hidden;
    background: #FFFFFF;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    /*border: 1px blue solid;*/
}