.room-tile {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
    border-radius: 1rem;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0 0 0.8rem rgba(127, 127, 127, 0.1);
}

.room-header {
    display: flex;
    height: 2.8rem;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    align-items: center;
    padding-inline: 0.9rem;
    gap: 0.5rem;
}
.public .room-header {background: #233D99}
.private .room-header {background: #191919}
.public.full .room-header {background: #97A0BE}
.private.full .room-header {background: #A7A7A7}

.room-name {
    width: 17.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.room-name.private {width: 15.15rem}
.room-desc {
    height: 2.3rem;
    padding-inline: 1.3rem;
    line-height: 1.15rem;
    font-size: 0.76rem;
    display: inline;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.member-display {
    height: 15.4rem;
    background: #F6F6F6;
    margin-inline: 0.85rem;
    border-radius: 1rem;
    position: relative;
}
.line {
    position: absolute;
    width: 100%;
    height: 15.4rem;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    box-sizing: border-box;
}
.line div {
    flex-grow: 1;
    border-bottom: 0.1rem #dedede solid;
}
.line div:last-child {border-bottom: 0;}

.members {
    position: absolute;
    padding-inline: 1.3rem;
}
.member {
    display: flex;
    flex-direction: row;
    height: 3.08rem;
    align-items: center;
    gap: 0.65rem;
}
.member .icon {
    height: 1.9rem;
    width: 1.9rem;
    overflow: hidden;
}
.member .nickname {
    font-size: 0.85rem;
    width: 14.85rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.room-tile .buttons {
    display: flex;
    justify-content: space-between;
    padding-inline: 0.85rem;
    font-size: 0.9rem;
    font-weight: 400;
}

.room-tile .buttons > div {
    display: flex;
    width: 12.5rem;
    overflow: hidden;
    border-radius: 1.15rem;
}
.room-tile .buttons > div > button {
    flex-grow: 1;
    border-radius: 0;
}

.room-tile .share {width: 5rem;}
.room-tile .share, .noti {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.room-tile .join, .noti {color: #FFFFFF}
.public .join {background: #233D99}
.public .join:hover {background: #4A62AF}
.public .join:active {background: #3A4F92}
.private .join {background: #191919}
.private .join:hover {background: #454545}
.private .join:active {background: #363636}

.public .noti {background: #97A0BE}
.public .noti:hover {background: #8A93B1}
.public .noti:active {background: #747C9C}
.private .noti {background: #A7A7A7}
.private .noti:hover {background: #979797}
.private .noti:active {background: #7F7F7F}

