.room-tile {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
    border-radius: 1rem;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0 0 0.8rem rgba(127, 127, 127, 0.1);
}

.room-header {
    display: flex;
    height: 2.8rem;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    align-items: center;
    padding-inline: 0.9rem;
}
.room-header.public {background: #233D99}
.room-header.private {background: #191919}
.room-header.public.full {background: #97A0BE}
.room-header.private.full {background: #C5C8CD}

.room-header svg {
    padding-right: 0.5rem;
}
.room-name {
    width: 17.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.room-desc {
    height: 2.3rem;
    padding-inline: 1.3rem;
    line-height: 1.15rem;
    font-size: 0.76rem;
    display: inline;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}



.member-display {
    height: 15.4rem;
    background: #F6F6F6;
    margin-inline: 0.85rem;
    border-radius: 1rem;
    position: relative;
}
.line {
    position: absolute;
    width: 100%;
    height: 15.4rem;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    box-sizing: border-box;
}
.line div {
    flex-grow: 1;
    border-bottom: 0.1rem #dedede solid;
}
.line div:last-child {border-bottom: 0;}

.members {
    position: absolute;
    padding-inline: 1.3rem;
}
.member {
    display: flex;
    flex-direction: row;
    height: 3.08rem;
    align-items: center;
    gap: 0.65rem;
}
.member .icon {
    height: 1.9rem;
    width: 1.9rem;
    overflow: hidden;
}
.member .nickname {
    width: 14.85rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding-inline: 0.85rem;
    font-size: 0.9rem;
    font-weight: 400;
}
.buttons > * {border-radius: 1.15rem;}
.buttons span {
    display: inline-block;
    height: 1.5em;
}
.buttons button {
    transition: background-color 30ms ease-out;
    height: 2.3rem;
    border: 0;
    padding: 0;
    background: #F0F0F0;
    font: inherit;
}
.buttons button:hover {background: #E0E0E0;}
.buttons button:active {background: #D0D0D0;}

.share {width: 5rem;}
.buttons > div {
    display: flex;
    width: 12.5rem;
    overflow: hidden;
}
.buttons > div > button {flex-grow: 1;}
