.toolbar {

    position: absolute;
    /*width: 100%;*/
    width: auto;

    margin: auto;
    box-sizing: border-box;

    /*padding-inline: 250px;*/
    padding-block: 1rem;

    /*margin-inline: 6.1rem;*/


    display: flex;

    gap: 1.5rem;
    justify-content: center;
    transition: left .2s ease-out, right .2s ease-out, top .2s ease-out;

}
.big .toolbar {

    top: 6.3rem;
    left: 2rem;
    right: 2rem;
}
.small .toolbar {

    top: 0;
    left: 20.6rem;
    right: 6.6rem;
}


.tool {
    height: 2.6rem;


    border-radius: 1.3rem;
    background: #FFFFFF;

    box-shadow: 0 0 0.8rem rgba(127, 127, 127, 0.1);
}





.search {
    flex-grow: 1;
    max-width: 22rem;
}
.country-filter {
    width: 4rem;
}
.public-filter {
    width: 4rem;
}
.session-filter {
    width: 4rem;
}

.refresh {
    width: 2.6rem;
}