.SidebarContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: opacity 0.2s ease;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    transition: opacity 0.2s ease-out;
  }

  .open .overlay {
    opacity: 1;
  }

  .closed .overlay {
    opacity: 0;
    pointer-events: none;
  }

  .sidebar {
    position: fixed;
    top: 0;

    height: 100vh;
    width: 35rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
