

.room-header {
    display: flex;

    height: 2.8rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;

    align-items: center;
    padding-inline: 0.6rem;

}

.country {
    width: 2.7rem;
    /*vertical-align: 10px;*/

    text-align: center;
    font-size: 1.6rem;


}

.room-name {
    width: 17.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;


}
