.room-tile {
    width: 388px;
    height: 470px;

    display: flex;
    flex-direction: column;

    gap: 10px;

    border-radius: 15px;
    overflow: hidden;
    background: #FFFFFF;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    /*border: 1px blue solid;*/
}

.room-desc {
    height: 45px;
    padding-inline: 25px;
    line-height: 22px;
    font-size: 14px;

    display: inline;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


