.password.modal {width: 22rem;}
.password.modal .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.password.modal .title span {
    font-size: 1.4rem;
    font-weight: 400;
    /*line-height: 1.5rem;*/
    width: 20rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.password.modal input {
    box-sizing: border-box;
    width: 22rem;
    padding: 0;
    padding-inline: 1rem;
    border: 0;
    background: #F0F0F0;
    height: 2.3rem;
    border-radius: 1.15rem;
    font-size: 0.9rem;

}
.password.modal input:focus {
    outline: none;
    border: 0;
    box-shadow: 0 0 0.8rem rgba(127, 127, 127, 0.3);
}
.password.modal input::placeholder {color: #AAAAAA}

.password.modal .buttons {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.password.modal .join {
    color: #FFFFFF;
    width: 7rem;
}
.password.modal button.join {background: #191919}
.password.modal button.join:hover {background: #454545}
.password.modal button.join:active {background: #363636}

.password.modal .abort {width: 4.5rem}
