.password.modal {width: 22rem;}
.password.modal .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.password.modal .title svg {
    margin-top: 0.2rem;
}
.password.modal .title span {
    font-size: 1.3rem;
    font-weight: 400;
    width: 20rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.password.modal input {
    box-sizing: border-box;
    width: 22rem;
    padding-inline: 1rem;
}
.password.modal input::placeholder {color: #AAAAAA}

.password.modal .buttons {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.password.modal .join {
    color: #FFFFFF;
    width: 7rem;
}
.password.modal button.join {background: #191919}
.password.modal button.join:hover {background: #454545}
.password.modal button.join:active {background: #363636}
.password.modal button.join:disabled {background: #A7A7A7}

.password.modal .abort {width: 4.5rem}
