.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 998;
    animation: open ease .2s;
    transition: opacity .2s ease;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: #FFFFFF;
    width: 30rem;
    height: 20rem;
    border-radius: 1rem;
    padding: 0.85rem;


    box-shadow: 0 0 0.8rem rgba(127, 127, 127, 0.1);
    z-index: 999;
    animation: open ease .2s;
    transition: opacity .2s ease;
}
.modal .title {
    font-size: 1rem;
    font-weight: 400;
}


.fade {opacity: 0;}
@keyframes open {
    from {opacity: 0;}
    to {opacity: 1;}
}