.member-list {
    height: 15.4rem;
    background: #F6F6F6;

    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/


    margin-inline: 0.85rem;
    border-radius: 1rem;
    padding-inline: 1rem;

}

.member {
    line-height: 3rem;
    font-size: 0.85rem;

    border-bottom: 0.1rem #dedede solid;
}

.member:last-child {
    border-bottom: 0;
}

.member span {
    display: inline-block;
    vertical-align: center;
    line-height: normal;

}